*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
.course-section{
    overflow: hidden;
    width: 100%;
    padding: 3rem 8rem;
}
.course-section .heading {
    margin-bottom: 5rem;
}
.course-section .heading > h3{
  color: #bdc3c7;
  width: 10rem;
  position: relative;
}
.course-section .heading > h3::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #5FCF80;
    position: absolute;
    top:45%;
    left: 90%;
    font-weight: lighter;
} 
.course-section .courses{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
} 
div.course{
    width: 30%;
}
div.course .image{
    width:100%;
}
div.course .image img{
    width: 100%;
} 
div.course .course-about{
    width: 100%;
    padding: 1rem;
}
div.course .course-about .namefees{
padding:1rem 0 ;
display: flex;
justify-content: space-between;
align-items: center;
font-size: 2rem;
}
div.course .course-about .namefees h3{
    font-size: 2rem;
    background-color: #5FCF80;
    color: #fff;
    padding: 0.5rem 2rem;
}
div.course .course-about .about{
    font-size: 1.5rem;
}
div.course .course-about .about > p{
    color: #818487;
}
div.course .course-about .about .teacher{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:0.5rem;
}
div.course .course-about .about .teacher img{
    width: 6rem;
    height: 6rem;
    border-radius: 50px;
}
@media screen and (max-width:1024px) {
    div.course{
        width: 45%;
    }
    .course:not(:last-child){
        margin-bottom: 2rem;
    }
    .course-section .courses{
        justify-content: space-around;
    }
}
@media screen and (max-width:768px) {
    div.course{
        width: 100%;
    }
    .course-section{
        padding: 1.5rem 3rem;
    }
}
@media screen and (max-width:480px) {
    
}